pandas
matplotlib
seaborn
wordcloud
scikit-learn
joblib
pyarrow
streamlit
plotly
google-generativeai
pymupdf
fitz
sentence-transformers
chromadb
openai
langchain
langchain-google-genai
xlsxwriter
google-genai